.Article--main {
  margin: 80px 180px;
  padding: 10px 20px;
  background-color: rgba(var(--secondary--color));
  border-radius: 10px;
}
.Article--top {
  margin-bottom: 10px;
}
.Article--title {
  position: relative;
  font-size: 2.7em;
  font-weight: bold;
  color: var(--text--color);
}
.Article--title::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: rgba(var(--primary--color), 0.9);
  width: 100%;
  height: 4px;
}
.Article--date {
  font-size: 1.1em;
  color: var(--text--color-focused);
}
.Article--punchline {
  font-size: 1.1em;
  color: var(--text--color-focused);
  text-decoration: underline;
  text-underline-offset: 0.3em;
}
.Article--middle {
  display: flex;
  flex-direction: column;
}
.Article--protraitContainer {
  padding: 0.15em;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(var(--primary--color), 0.4);
  box-shadow: inset 0em 0em 0.45em rgba(var(--secondary--color-dark));
}
.Article--image {
  width: 100%;
}
.Article--protrait {
  width: 50% !important;
  border-radius: 0px !important;
  border: 0.15em solid rgba(var(--secondary--color-dark), 0.6);
}
.Article--description {
  font-size: 1.3em;
  color: var(--text--color);
  line-height: 2em;
  white-space: pre-wrap;
}
.Article--taskArea {
  margin-block: 5px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
}
@media screen and (max-width: 850px) {
  .Article--main {
    margin: 80px 10px;
    padding: 5px 15px;
  }
  .Article--title {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.1em;
  }
  .Article--title::before {
    display: none;
  }
  .Article--date {
    font-size: 0.9em;
  }
  .Article--punchline {
    font-size: 0.9em;
  }
  .Article--description {
    font-size: 0.9em;
    color: var(--text--color);
    white-space: pre-wrap;
  }
  .Article--descriptionBox {
    font-size: 0.85em;
    color: var(--text--color);
  }
}
@media screen and (max-width: 1000px) {
  .Article--main {
    margin: 80px 30px;
  }
}
