.FacilityContainer--main {
  padding: 10px;
  position: relative;
  width: 100%;
  background-color: rgba(var(--primary--color));
  box-shadow: inset 0em 0em 0.15em rgba(var(--secondary--color-dark));
  text-decoration: none;
  word-break: break-word;
}
.FacilityContainer--title {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--text--color);
}
.FacilityContainer--description {
  font-size: 1.1em;
  color: var(--text--color);
}
.FacilityContainer--button {
  margin-top: 10px;
}
@media screen and (max-width: 850px) {
  .FacilityContainer--button {
    font-size: 1.3em !important;
  }
}
