.Header--NavBar--margin {
  margin: 70px 70px 10px 70px;
}
.Header--div--container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Header--div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-attachment: fixed; */
  height: 100vh;
  filter: contrast(150%);
}
.Header--text {
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 2px 3px black;
}
@media screen and (max-width: 860px) {
  .Header--NavBar--margin {
    margin: 70px 10px 10px 10px;
  }
  .Header--div {
    border-radius: 10px;
    filter: contrast(200%);
  }
  .Header--text {
    font-size: 2.5em;
  }
}
