@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
:root {
  --primary--color: 234, 234, 234;
  --secondary--color: 211, 211, 211;
  --text--color: #111;
  --text--color-focused: #333;
  --text--color-tint: #666;
  /* Additional Vars */
  --secondary--color-dark: 0, 0, 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, Inter, sans-serif;
}
.popUp {
  padding: 5px 20px;
  position: absolute;
  transform: translate(0, -140%);
  background-color: rgba(var(--primary--color), 0.8);
  border-radius: 10px;
}
.popUp--imageContainer {
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -110%);
  display: flex;
  background-color: rgba(var(--primary--color));
  width: 70%;
  box-shadow: 0em 0em 2em rgba(var(--secondary--color-dark));
  pointer-events: none;
  z-index: 1;
}
.popUp--image {
  max-width: 100%;
}
.btn {
  padding-block: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
  color: var(--text--color);
  background-color: rgba(var(--secondary--color));
  text-decoration: none;
  white-space: pre-wrap;
  border-radius: 5px;
  cursor: pointer;
}
.brn--text {
  font-size: 0.9em;
}
.btn:hover {
  background-color: rgba(var(--secondary--color), 0.6);
}
.btn-s {
  padding-block: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
  color: var(--text--color);
  background-color: rgba(var(--primary--color));
  text-decoration: none;
  white-space: pre-wrap;
  border-radius: 5px;
  cursor: pointer;
}
.brn--text-s {
  font-size: 0.9em;
}
.btn-s:hover {
  background-color: rgba(var(--primary--color), 0.6);
}
.text--type--button {
  color: var(--text--color-tint);
  text-decoration: none;
}
.text--type--button:hover {
  color: var(--text--color-focused);
}
@media screen and (max-width: 850px) {
  .btn {
    font-size: 1em;
  }
  .btn--text {
    font-size: 0.8em;
  }
  .btn-s {
    font-size: 1em;
  }
  .btn--text-s {
    font-size: 0.8em;
  }
}
