.navBar {
  position: fixed;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  height: 60px;
  background-color: rgba(var(--primary--color), 0.3);
  backdrop-filter: blur(25px);
  box-shadow: 0px 2px 10px rgba(var(--secondary--color-dark), 1);
  z-index: 10;
}
.navBar--half {
  animation: 0.2s scaleDown linear forwards;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 10px;
}
.navBar--full {
  animation: 0.2s scaleUp linear forwards;
  top: 0;
  left: 0;
  transform: translateX(0);
  width: 100%;
}
.navBar--logo--link {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text--color);
  font-weight: bold;
}
.navBar--logo--image {
  height: 80%;
  margin-right: 10px;
}
.navBar--links--link {
  position: relative;
  margin-inline: 15px;
  text-decoration: none;
  font-size: 1.12rem;
  color: var(--text--color);
  font-weight: bold;
}
.navBar--links--link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  height: 2px;
  width: 0;
  background-color: var(--text--color);
  transition: all 0.3s ease-in-out;
}
.navBar--links--link--selected::before {
  width: 100%;
  transition: none !important;
}
.navBar--links--link--selected:hover::before {
  width: 100% !important;
}
.navBar--links--link:hover::before {
  width: 50%;
}
/* Hamburger */
.navBar--hamburger--container {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25px;
  width: 25px;
  z-index: 20;
}
.navBar--hamburger--stick {
  width: 100%;
  height: 2px;
  background-color: var(--text--color);
  transition: 0.3s;
}
.navBar--hamburger--open .hamburger--stick1 {
  transform: translate(0px, 6.75px) rotate(45deg);
}
.navBar--hamburger--open .hamburger--stick2 {
  opacity: 0;
  transform: translateX(-25px) rotate(90deg);
}
.navBar--hamburger--open .hamburger--stick3 {
  transform: translate(0px, -6.75px) rotate(135deg);
}
@media screen and (max-width: 860px) {
  .navBar--hamburger--container {
    display: flex;
  }
  .navBar--links {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 0.3s all ease-in-out;
  }
  .navBar--links--open {
    display: flex !important;
    transform: translateX(0);
    background-color: rgba(var(--secondary--color), 0.8);
    z-index: 15;
  }
}
/* Dark Mode */
.navBar--toggle--darkMode {
  width: 25px;
  height: 25px;
  position: relative;
  margin-inline: 10px;
}
.navBar--toggle--darkMode i {
  position: absolute;
  top: 15%;
  color: var(--text--color);
  font-size: 1.4rem;
}

@keyframes scaleDown {
  0% {
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
  50% {
    top: 0.5%;
    left: 25%;
    transform: translateX(-25%);
    width: 95%;
  }
  100% {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
}
@keyframes scaleUp {
  0% {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
  50% {
    top: 0.5%;
    left: 25%;
    transform: translateX(-25%);
    width: 95%;
  }
  100% {
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}
